@font-face {
     font-family: 'icomoon';
     src:  url('../fonts/icomoon.eot?20ilry');
     src:  url('../fonts/icomoon.eot?20ilry#iefix') format('embedded-opentype'),
       url('../fonts/icomoon.ttf?20ilry') format('truetype'),
       url('../fonts/icomoon.woff?20ilry') format('woff'),
       url('../fonts/icomoon.svg?20ilry#icomoon') format('svg');
     font-weight: normal;
     font-style: normal;
     font-display: block;
   }
   
   [class^="icon-"], [class*=" icon-"] {
     /* use !important to prevent issues with browser extensions that change fonts */
     font-family: 'icomoon' !important;
     speak: none;
     font-style: normal;
     font-weight: normal;
     font-variant: normal;
     text-transform: none;
     line-height: 1;
   
     /* Better Font Rendering =========== */
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
   }
   
   .icon-twitter:before {
     content: "\f099";
   }
   .icon-facebook:before {
     content: "\f09a";
   }
   .icon-facebook-f:before {
     content: "\f09a";
   }
   .icon-pinterest:before {
     content: "\f0d2";
   }
   .icon-linkedin:before {
     content: "\f0e1";
   }
   .icon-dribbble:before {
     content: "\f17d";
   }
   .icon-google:before {
     content: "\f1a0";
   }
   
   @font-face {
    font-family: 'Linearicons-Free';
    src:url('../fonts/Linearicons-Free.eot?w118d');
    src:url('../fonts/Linearicons-Free.eot?#iefixw118d') format('embedded-opentype'),
      url('../fonts/Linearicons-Free.woff2?w118d') format('woff2'),
      url('../fonts/Linearicons-Free.woff?w118d') format('woff'),
      url('../fonts/Linearicons-Free.ttf?w118d') format('truetype'),
      url('../fonts/Linearicons-Free.svg?w118d#Linearicons-Free') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  .lnr {
    font-family: 'Linearicons-Free';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .lnr-user:before {
    content: "\e82a";
  }

  .lnr-home:before {
    content: "\e800";
  }
  .lnr-cog:before {
    content: "\e810";
  }

  .lnr-cart:before {
    content: "\e82e";
  }

  .lnr-heart:before {
    content: "\e813";
  }
  .lnr-dice:before {
    content: "\e812";
  }

  .lnr-chart-bars:before {
    content: "\e843";
  }

  .lnr-upload:before {
    content: "\e866";
  }

  .lnr-book:before {
    content: "\e828";
  }

  .lnr-briefcase:before {
    content: "\e84c";
  }

  .lnr-exit:before {
    content: "\e820";
  }

  .lnr-bubble:before {
    content: "\e83f";
  }

  .lnr-star:before {
    content: "\e814";
  }