
@import 'vars';
@import 'global';
@import 'fonts';
*{
    box-sizing: border-box;
}
*::after{
    clear: both;
}
// HEADER START


.header{
    background-color: $grey;
    height: 102px;
    box-sizing: border-box;   
    display: flex;
    align-items: center;
    
}

.header__inner-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__logo{
    img{
        margin-left: 8px;
    }
}


.header__services{
    display: flex;
    align-items: center;


    &-btn{
        display: flex;
        align-items: center;
        background-color: $blue;
        font-size: 14px;
        color: rgb(255, 255, 255);

        height: 36px;
        padding: 0 19px;
        text-align: center;
        border-radius: 13px;

    }
    &-box{
        width: 140px;
    }

    &-user{
        display: flex;
        width: 176px;
        justify-content: space-between;

        &-avatar{
            img{
                border-radius: 50%;
                width: 51px;
                height: 51px;
                object-fit: cover;
            }            
        }
        &-name{
            display: block;
            font-size: 16px;
            color: rgb(51, 51, 51);
            line-height: 1.375;
            font-weight: 500;
            margin-bottom: 2px;

        }
        &-price{
            display: block;
            font-size: 16px;
            color: $blue;
            line-height: 1.375;
            font-weight: 500;
        }

    }
}



// ************************
// ******NAVIGATION********
// ************************


.navigation__inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 81px;
}

.navigation__menu{
    ul{
        li{
            display: inline-block;
            a{
                font-weight: 500;
                text-transform: uppercase;
                font-size: 15px;
                color: rgb(51, 51, 51);     
            }
            
        }
        li+li{
            margin-left: 26px;
        }
    }
}


.navigation__form{
    form{
        position: relative;
        
        input{
            box-sizing: border-box;
            height: 46px;
            width: 360px;
            border-radius: 23px;
            border: 1px solid #d9dfe5;
            padding-left: 25px;
            padding-right: 86px;
            
            
            &::placeholder{
                font-size: 15px;
                color: rgb(137, 143, 150);
                line-height: 2;
            }
              
        }

        button{
            position: absolute;
            right: 0;
            top: 0;
            background-color: $blue;
            border: none;
            border-radius: 23px;
            height: 44px;
            width: 70px;
            cursor: pointer;
            outline: none;
        }
    }

}


// ************************
// ********PRODUCTS********
// ************************



.products{
    background-color: $blue;
    height: 725px;
}

.products__inner{
    color: rgb(243, 243, 248);
    padding-top: 170px;
    &-title{
        font-size: 60px;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        text-align: center;
        font-weight: 500;        
    }

    &-text{
        margin-top: 5px;
        font-size: 20px;        
        line-height: 3.6;
        text-align: center;
        font-weight: 500;
    }

    &-btns{
        margin-top: 42px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .products__btn{
            display: flex;
            align-items: center;
            height: 55px;
            border: 1px solid #fff;
            border-radius: 24px;
            padding: 0 34px;
            font-size: 16px;
            text-align: center;
            color: #fff;
            margin: 0 15px;
            font-weight: 500;            
        }
        .products__btn.btn_active{
            color: $blue;
            background-color: #fff;
        }

    }
}



// ************************
// ********FEATURES********
// ************************

.features__inner{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 709px;
    padding-top: 189px;
    padding-bottom: 125px;
    position: relative;
}

.feature__items{
    display: flex;
    flex-direction: row;
}


.features__item{
    max-width: calc(100% / 3);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    height: 404px;
    padding-bottom: 25px;
    
    &:hover{
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
      


    &-img{
        object-fit: contain;
        height: 112px;
        width: 112px;
        margin-top: 40px;
    }
    &-title{
        font-size: 24px;
        color: rgb(1, 1, 1);
        font-weight: 500;
        margin-top: 28px;

    }
}

.feaures__item-text{
    text-align: center;
    font-size: 16px;
    color: rgb(85, 85, 85);
    max-width: 300px;
    margin-top: 23px;
    overflow: hidden;
}

.features__search{
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: -67px;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;


    background-color: #fff;
    height: 135px;
    max-width: 1140px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    form{
        
        button{
            background-color: $blue;
            border: none;
            border-radius: 4px;
            color: #fff;
            font-size: 16px;
            height: 55px;
            padding: 0 68px;
            cursor: pointer;
        }
        input{
            width: 613px;
            height: 55px;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border: 1px solid #dcdcdc;
            padding-left: 26px;
            padding-right: 15px;
            font-size: 16px;            
        }                 
    }
}


.features__shadow{
    
    width: 100%;
    height: 60px;
  
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 4px;
    

}

.shadow1{
    max-width: 1110px;
    z-index: 9;
    top: -80px;  
}
  
.shadow2{
    max-width: 1080px;
    z-index: 8;
    top: -92px;  
}

.f-slider{
    background-color: #eff1f5;
    padding: 120px 0;
    
}

.f-slider__title,
.release__title{
    display: flex;
    align-items: center;

    font-size: 30px;
    color: #000;
    padding-left: 28px;
    height: 110px;
    max-width: 1140px;
    width: 100%;
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 50px;
}

.f-slider__item{
    display: flex !important;
    flex-direction: row;
    width: 100%;
    border-radius: 2px;
    background-color: #fff;
    position: relative;

    &-image{
        border-radius: 2px;
        width: 555px;
        height: 450px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &-title{
        display: block;
        font-size: 24px;
        color: #000;
        
    }

    &-txt{
        color: rgb(85, 85, 85);
        font-size: 16px;
        font-weight: 500;
        margin-top: 32px;
        max-height: 138px;
        overflow: hidden;
    }
    &-tags{
        display: flex;
        flex-wrap: wrap;
        margin-top: auto;
        max-height: 70px;
        

        a{
            display: flex;
            align-items: center;
            margin-top: 5px;

            font-size: 15px;            
            color: rgb(134, 140, 150);
            margin-right: 7px;
            height: 28px;
            padding: 0 17px;
            border-radius: 12px;
            background-color: #f1f3f6;
        }
    }

    
}

.slick-prev{
    position: absolute;
    z-index: 10;
    top: -124px;
    right: 85px;
    width: 55px;
    height: 45px;
    border: none;
    outline: none;
    font-size: 0;
    background-color: #7347c1;
    border-top-left-radius: 19px;
    border-bottom-left-radius: 19px;
    &::before{
        content: '';
        height: 15px;
        width: 10px;
        top: 15px;
        left: 25px;
        background-repeat: no-repeat;
        position: absolute;
        cursor: pointer;      
        background-image: url(../images/icons/chevron-left.png);
    }
}
    
.slick-next{
    position: absolute;
    z-index: 10;
    top: -124px;
    right: 30px;
    width: 55px;
    height: 45px;
    border: none;
    outline: none;
    background-color: #7347c1;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    font-size: 0;
    &::before{
        content: '';
        height: 15px;
        width: 10px;
        top: 15px;
        right: 25px;
        background-repeat: no-repeat;
        position: absolute;      
        background-image: url(../images/icons/chevron-right.png);
        cursor: pointer;
    }
}


.item__rate{
    display: flex;
    align-items: center;
    margin-top: auto;
    border-top: 1px solid #ececec;
    padding-top: 23px;
    &-price{
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: 500;
        color: #fff;
        height: 32px;
        background-color: $blue;
        padding:0 18px;
        border-radius: 14px;
    }
    &-price--blue{
        background-color: #e6f1fd;
        color: $blue;
    }
    &-like{
        display: flex;
        align-items: center;
        font-size: 15px;
        color: rgb(85, 85, 85);
        position: relative;
        margin-left: 20px;
        padding-left: 25px;
        &::before{
            content: '';
            position: absolute;
            top: 3;
            left: 0;
            background-image: url(../images/icons/like.png);
            background-repeat: no-repeat;
            background-size: cover;
            height: 14px;
            width: 16px;

        }      
    }

    &-cart{
        display: flex;
        align-items: center;
        font-size: 15px;
        color: #7ab5f5;
        position: relative;
        margin-left: 20px;
        padding-left: 25px;
        &::before{
            content: '';
            position: absolute;
            top: 3;
            left: 0;
            background-image: url(../images/icons/cart.png);
            background-repeat: no-repeat;
            background-size: cover;
            height: 14px;
            width: 16px;

        } 

    }
    &-cart--corner{
        margin-left: auto;
    }
    &-star{
        margin-left: auto;
        
    }
    &-star--center{
        margin-left: 16px;
    }
}

.item__rate--smaller{
    padding-top: 15px;
    border: none;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: -30px;
        width: 362px;
        height: 1px;
        background-color: #ececec;
    }
}

.f-slider__item-box{
    width: 50%;
    padding: 50px 50px 25px 50px;
    display: flex;
    flex-direction: column;
}


.item__panel{
    margin-top: 15px;
    display: flex;
    align-items: center;
    &-avatar{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
    }

    &-author{
        display: block;
        font-size: 15px;
        color: rgb(0, 0, 0);
        max-width: 80px;
        margin-left: 9px;
        font-weight: 400;

    }
    &-category{
        display: block;
        margin-left: 21px;
        img{
            display: block;
        }
        
    }
    
}


.release{
    padding: 121px 0;
    background-color: #f6f7fb;
}


.release__filter{
    height: 92px;
    padding-left: 29px;
    background-color: #fff;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin-bottom: 51px;
    button{
        margin-right: 10px;
        display: flex;
        align-items: center;
        height: 32px;
        padding: 0 18px;
        border-radius: 12px;
        background-color: #f1f3f6;
        font-size: 15px;                
        color: rgb(116, 123, 134);
        border: none;
        
    }
    .mixitup-control-active{
        background-color: $blue;
        color: #fff;
        outline: none;
    }
}
.release__btn{
    margin: 30px auto 0;
    display: flex;
    align-items: center;
    height: 56px;
    padding: 0 30px;
    border-radius: 20px;
    background-color: $blue;
    font-size: 15px;                
    color: #fff;
    border: none;
    font-weight: 500;
}

.release__items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.release__item{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 361px;
    width: 100%;
    height: 100%;
    height: 530px;
    border-radius: 3px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    &:hover{
        .release__links{            
            display: flex;
        }
    }
    &-image{
        height: 231px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

    }
    &-box{
        display: flex;
        flex-direction: column;
        padding: 30px;
        padding-bottom: 15px;
        background-color: #fff;
        height: 300px;
    }
    &-title{
        font-size: 20px;
        color: rgb(0, 0, 0);
        font-weight: 500;
    }
    &-txt{
        max-height: 84px;
        overflow: hidden;
        margin-top: 20px;
        font-size: 16px;
        line-height: 1.8;
        color: rgb(85, 85, 85);
    }
}

  

.release__panel{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;

    &-avatar{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
    }
    
    &-name{
        display: block;
        font-size: 15px;
        color: rgb(0, 0, 0);
        max-width: 80px;
        margin-left: 9px;
        font-weight: 400;
    
    }

    &-category{
        display: block;
        margin-left: 21px;
        img{
            display: block;
        }
        
    }

}

.release__links{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 93px;
    left: 44px;
    
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        padding: 0 30px;
        text-align: center;
        border: 1px solid #fff;
        margin: 0 7px;
        border-radius: 19px;
        font-size: 15px;
        color: #fff;
        font-weight: 700;
        &:hover{
            transition: all .5s;
            background: #fff;
            color: $blue;
        }
    }

}



.f-slider__item-tags.feed{
    display: none;

}

.f-slider__item.feed{
    flex-direction: column;
    max-width: 360px;
    width: 100%;
    min-height: 530px;
    margin-right: 0;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.f-slider__inner.feed>.slick-next,
.f-slider__inner.feed>.slick-prev{
    background-color:$blue;
}




.f-slider__item-image.feed{
    width: 100%;
    max-height: 230px;
}

.f-slider__item-box.feed{
    padding: 31px 34px 15px 30px;
    width: 100%;
    height: 300px;
}


.f-slider__item-title.feed{
    font-size: 20px;    
    color: rgb(0, 0, 0);
    text-align: left;
    font-weight: 700;
}

.f-slider__item-txt.feed{
    max-height: 90px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-top: 22px;
}

.item__rate{
    display: flex;
    border-top: none;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 9px;
        left: -30px;
        width: 360px;
        height: 1px;
        background-color: #d9dfe5;

    }

    &-price.feed{
        background-color: #e6f1fd;
        color: $blue;
        font-size: 15px;
        max-width: 78px;
        overflow: hidden;
        order: 1;
    }
    &-like.feed{
        order: 2;
    }
    &-star.feed{
        order: 3;
        margin-left: 10px;
    }
    &-cart.feed{
        order: 4;
        margin-left: auto;
    }
}

.statistic{
    background-color: #212225;
}

.statistic__inner{
    padding: 90px 0;
    display: flex;
    justify-content: space-between;
}

.statistic__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &-value{
        font-size: 36px;
        font-weight: 500;
    }
    &-txt{
        color: #fff;
        font-size: 18px;
        margin-top: 10px;
    }
    &-img{
        width: 50px;
        height: 50px;
        margin-bottom: 47px;
    }
}




.choose__inner{
    padding-top: 122px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choose__title{
    font-size: 36px;
    color: #000;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
    span{
        color: $blue;
    }
}

.choose__txt{
    font-size: 16px;
    color:rgb(85, 85, 85);
    text-align: center;
    line-height: 1.875;
    font-weight: 500;
    max-width: 680px;
}

.choose__items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 55px;
}

.choose__item{
    position: relative;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    max-width: 362px;
    min-height: 372px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 3px;
    padding: 55px 33px;
    margin-bottom: 30px;

    span{
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 48px;
        color: rgba(92, 135, 248, 0.2);
        font-weight: 300;

    }

    &-title{
        display: block;
        font-size: 24px;
        color: #000;
        text-align: center;
        margin-top: 45px;
    }

    &-txt{
        font-size: 16px;
        color: rgb(85, 85, 85);
        line-height: 1.875;
        text-align: center;
        margin-top: 30px;
        max-height: 110px;
        overflow: hidden;

    }
    &-img{
        width: 70px;
        height: 70px;
    }

}

.action__inner{
    display: flex;
    flex-direction: row;
}
.action__item{
    width: 50%;
    min-height: 560px;
    background-size: cover;
    background-image: url('../images/content/sell_bg.jpg');

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px 0;

    &-title{
        display: block;
        font-size: 36px;
        color: #fff;
        margin-top: 45px;

    }

    &-txt{
        font-size: 16px;
        color: #fff;
        line-height: 1.875;
        max-width: 585px;
        width: 100%;
        max-height: 84px;
        overflow: hidden;
    }

    &-link{
        display: flex;
        align-items: center;

        font-size: 16px;
        color: rgb(6, 116, 236);
        height: 54px;
        
        margin-top: auto;
        background-color: #fff;
        border-radius: 22px;
        padding: 0 30px;
        &-violet{
            color: $violet;
        }

    }


}


.feedback__inner,
.news__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 122px 0;
}

.feedback__title,
.news__inner{
    font-size: 36px;
    color: #000;
    span{
        color: $blue;
    }
}

.feedback__txt,
.news__txt{
    margin-top: 23px;
    font-size: 16px;
    color: rgb(85, 85, 85);
    line-height: 1.875;
    max-width: 676px;
    width: 100%;
    text-align: center;

}
  
.feedback__btn{
    display: flex;
    background-color: $blue;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    padding: 0 30px;
    height: 55px;
    align-items: center;
    color: #fff;
    border-radius: 22px;
    margin-top: 60px;
}

.feedback__items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.feedback__comment{
    flex-basis: calc(555px - 30px);
    margin-left: 15px;
    margin-right: 15px;
}
.feedback__item{
    max-width: 555px;
    max-height: 315px;
    width: 100%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: 2px solid $blue;
    padding-left: 40px;
    padding: 40px 40px 35px 40px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    position: relative;
    margin-top: 35px;
    
    &::before{
        content: '';
        position: absolute;
        top: 50px;
        right: 30px;
        background-image: url(../images/icons/bubble.png);
        width: 57px;
        height: 51px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &-img{
        float: left;
        clear: both;
        img{
            width: 81px;
            height: 81px;
            object-fit: cover;
            border-radius: 50%;
            margin-bottom: 20px;
            margin-right: 20px;
        }
    }
    &-name{
        display: block;
        font-size: 20px;
        color: #000;
        margin-top: 10px;

    }

    &-position{
        font-size: 16px;
        color: rgb(85, 85, 85);
        margin-top: 10px;
    }
    &-txt{
        clear: both;
        font-size: 16px;
        color: rgb(85, 85, 85);
        line-height: 1.875;
        max-height: 125px;
        overflow: hidden;
        
    }
}


/************************************
*************NEWS*******************
************************************/

.news{
    background-color: #eef0f4;
}

.news__items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.news__item{
    border-radius: 3px;
    background-color: #fff;
    max-width: 360px;
    height: 495px;
    width: 100%;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    margin: 0 14px;

    display: flex;
    flex-direction: column;

    &-img{
        display: block;
        height: 230px;
        img{
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            max-width: 360px;
            width: 100%;            
            height: 230px;
            object-fit: cover;
        }
    }

    header{
        padding: 30px;
        height: 205px;
        overflow: hidden;
    }

    &-title{
        display: block;
        font-size: 22px;
        color: #000;
        text-align: left;
        font-weight: 500;
    }

    &-txt{
        font-size: 16px;
        color: rgb(85, 85, 85);
        line-height: 1.875;
        text-align: left;
        max-height: 92px;
        overflow: hidden;
        margin-top: 30px;

    }

    footer{
        display: flex;
        flex-direction: row;
        height: 60px;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        font-size: 15px;
        border-top: 1px solid $grey;
     
    }

    &-data,
    &-commits{
        position: relative;
        display: block;            
        line-height: 2;
        text-align: center;
        span{
            color: rgb(153, 153, 153);
        }
        
    }
    &-data{
        padding-left: 25px;
        position: relative;
        &::before{
            position: absolute;
            content: '';
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url(../images/icons/data-i.png);
            top: 7px;
            left: 0;
            width: 16px;
            height: 15px;
        }
    }
    &-views{
        padding-left: 25px;
        position: relative;
        &::before{
            position: absolute;
            content: '';
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url(../images/icons/views-i.png);
            top: 5px;
            left: 0;
            width: 17px;
            height: 9px;
        }
        span{
            color: rgb(153, 153, 153);
        }

    }
    &-data{
        padding-right: 50px;
        border-right: 1px solid $grey;
    }
    &-commits{
        padding-left: 25px;
        &::before{
            position: absolute;
            content: '';
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url(../images/icons/bubble-i.png);
            top: 7px;
            left: 0;
            width: 16px;
            height: 14px;
        }
    }
}

.header__item-inner{
    max-height: 140px;
    overflow: hidden;
}


/************************************
*************garantee*****************
************************************/

.garantee__inner{
    display: flex;
    flex-direction: row;
    
} 

.garantee__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 570px;
    padding: 60px 0;
    &-title{
        margin-top: 24px;
        font-size: 24px;
        color: rgb(0, 0, 0);
        text-align: center;
        span{
            a{
                display: inline-block;
                color: $blue;
            }
        }
        &--violet{
            span{
                a{
                    color: $violet;
                }
            }
            
        }
    
    }
    &:first-child{
        border-right: 1px solid $grey;
    }
    
}
  

/************************************
*************Join us*****************
************************************/


.join{
    min-height: 400px;
    padding: 100px 0;
    background: rgb(102,30,145);
    background: linear-gradient(120deg, rgba(102,30,145,1) 0%, rgba(12,55,218,1) 100%);

}

.join__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join{
    &__title{
        font-size: 36px;
        color: #fff;
        text-align: center;
    }
    &__txt{
        font-size: 18px;
        color: #fff;
        text-align: center;
        margin-bottom: 51px;
    }
}


/************************************
*************Footer*****************
************************************/

.footer{
    background-color: #262b30;
    padding: 110px 0;
    color: #ababab;
}
.footer__top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer__logo{
    margin-bottom: 8px;
    
}
.footer__col{
    display: flex;
    flex-direction: column;
    &-title{
        font-size: 18px;
        color: #fff;
        line-height: 2;
        margin-bottom: 17px;
    }
    &-txt{
        font-size: 15px;
        line-height: 1.86;
        text-align: left;
    }
    &-contacts{
        max-width: 255px;
        width: 100%;
    }
    
    &-help,
    &-company{
        max-width: 165px;
        width: 100%;
    }
    &-news{
        max-width: 370px;
        width: 100%;
        p{
            margin-top: 0;
        }
    }
    form{
        position: relative;
        margin-top: 15px;
        input{
            max-width: 360px;
            width: 100%;
            height: 50px;
            border-radius: 25px;
            border: none;
            padding-left: 30px;
            padding-right: 125px;
            font-size: 15px;
            color: rgb(171, 171, 171);
            outline: none;
        }
        button{
            position: absolute;
            top: 0;
            right: 9px;
            border-radius: 25px;
            width: 110px;
            color: #fff;
            font-size: 15px;
            border: none;
            background-color: $blue;
            height: 100%;
            outline: none;
        }
    }
}


  



.footer__list{
    li{
        a{
            display: block;
            font-size: 15px;
            color: rgb(171, 171, 171);
            line-height: 2.1;

        }
    }
           
}

.footer__tel,
.footer__mail,
.footer__address{
    display: block;
    color: rgb(171, 171, 171);
    line-height: 1.8;
    text-align: left;
    font-size: 15px;
    margin-top: 6px;
    padding-left: 30px;

    position: relative;
    &::before{
        content: '';
        position: absolute;        
        background-size: cover;
        background-repeat: no-repeat;
        
    }
}

.footer__tel{
    margin-top: 11px;
    &::before{
        background-image: url(../images/icons/lnr-phone-handset.svg);
        width: 18px;
        height: 18px;
        top: 5px;
        left: 0;
    }

}
 
.footer__mail{
    &::before{
        background-image: url(../images/icons/lnr-envelope.svg);
        width: 16px;
        height: 15px;
        top: 6px;
        left: 0;
    }

}

.footer__address{
    &::before{
        background-image: url(../images/icons/lnr-map-marker.svg);
        width: 17px;
        height: 20px;
        top: 12px;
        left: 0;
    }

}

.footer__col-socials{
    margin-top: 48px;
    ul{
        display: flex;
        flex-direction: row;
    }
    li{
        margin-right: 12px;
    }
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        color: #fff;
        height: 43px;
        width: 43px;
        border-radius: 50%;
        text-align: center;
    }
} 

.icon-facebook{
    background-color: #395799;
}

.icon-twitter{
    background-color: #19b2f5;
}

.icon-google{
    background-color: #f05b44;
}

.icon-pinterest{
    background-color: #9c0c1c;
}

.icon-linkedin{
    background-color: #0da6be;
}

.icon-dribbble{
    background-color: #ea4c89;
}

.copyrights{
    height: 94px;
    background-color: #192027;
    display: flex;
    align-items: center;
    &__inner{
        text-align: center;
        font-size: 15px;
        color: rgb(153, 153, 153);
        line-height: 1.8;
        a{
            display: inline-block;
            color: #fff;
        }
    }
}










/*********************
**********************
****PLUGINS STYLES****
**********************
*********************/






  .jq-ry-container {
    position: relative;
    padding: 0 5px;
    line-height: 0;
    display: block;
    cursor: pointer;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    direction: ltr;
  }
  .jq-ry-container[readonly="readonly"] {
    cursor: default;
  }
  .jq-ry-container > .jq-ry-group-wrapper {
    position: relative;
    width: 100%;
  }
  .jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group {
    position: relative;
    line-height: 0;
    z-index: 10;
    white-space: nowrap;
  }
  .jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group > svg {
    display: inline-block;
  }
  .jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-normal-group {
    width: 100%;
  }
  .jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-rated-group {
    width: 0;
    z-index: 11;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}
